/* CSS file for Web Application */
/* You can add global/local styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.form-group {
    color: azure;
    font-family: Arial;
    font-size: 100%;
}

ul li:hover {
    color: red;
}

.btn-group{
    display: grid;
    border: none;
    color: white;
    padding: 15px 5px;
    font-size: 16px;
    align-content: center;
}
.home-wrapper{
    &__devices{
       > table{
        display: flex;
        justify-content: space-around;
        > tr{
            padding-top: 20px;
            > td > button{
                width: 100px;
                height: 40px;
                background-color: wheat;
                opacity: 0.65;
                padding: 0;
                border: 2px solid white;
                text-emphasis: none !important;
                text-decoration: none !important;
                transition: 0.3s;
                &:hover{
                    border-width: 5px;
                    opacity: 1;
                    transition: 0.3s;
                }

            }
        }
       } 
    }

}
.device-list{
    > h3{
        font-size: 48px;
    }

    &__map-wrapper{
        position: relative;
        display: flex;
        align-self: center;
        width: 100%;
        height: 500px;
        margin: 20px auto 40px auto;
        canvas{
            object-fit: cover;
            border: 2px solid white;
            border-radius: 10px;
        }
    }
.data-list{
    display: block;
    margin: auto;
    width: 80%;
    text-align: left;
    color: white;
    background-color: gray;
    border: 2px solid white;
    border-radius: 10px;
    table{
        display: block;
        margin: auto;
        padding: 5px 0 20px 0;
         tr{
            padding-top: 15px; 
            td{
                padding: 5px 10px 0px 0px;
            }
        
        }
    }
}
}

.select-group {
    float:left;
    padding:10px;
    margin:0 auto;
}

.btn-primary {
    background-color: #008CBA; /* Blue */
    color: white;
}

.btn-primary:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA; /* Blue */
}

/* Device List Settings */

.device-info {
    color: azure;
    display: grid;
    grid-auto-columns: max-content space;
    grid-auto-rows: max-content space;
}

/* Footer Settings */
a.persona {
    color: darkslategrey;
}

a.persona:visited {
    color: maroon;
}

a.persona:hover, a.persona:visited:hover {
    color: rgb(0, 89, 255);
    text-shadow: #008CBA;
    text-decoration: underline;
}

.footer-tag {
    font-family: Cambria;
}

/* Global Settings */
.container {
    align-content: center;
}

h2 {
    color: azure;
    font-family: "Calibri Body";
    font-style: italic;
    font-size: 200%;
    text-align: center;
}

h3 {
    color: azure;
    font-family: "Calibri Body";
    font-style: italic;
    font-size: 200%;
    text-align: center;
}

p {
    color: azure;
    font-family: "Calibri Body";
    font-style: italic;
    font-size: 80%;
    text-align: center;
}

.jumbotron, body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
}
            
canvas {display:block;}

.footer{
    height: 4em;
}

img.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

img.img-responsive:hover {
    opacity: 0.05;
}

.showSQ {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}