/* CSS file for Web Application */
/* You can add global/local styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.form-group {
    font-family: Arial;
    font-size: 100%;
}

ul li:hover {
    color: red;
}

.btn-group{
    display: flex;
    border: none;
    color: white;
    padding: 15px 5px;
    font-size: 16px;
}

.select-group {
    float:left;
    padding:10px;
    margin:0 auto;
}

.btn-primary {
    background-color: #008CBA; /* Blue */
    color: white;
}

.btn-primary:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA; /* Blue */
}

.btn-devices {
    color: blue;
}

.btn-devices:hover {
    color: blueviolet;
}

.device-info {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-rows: auto;
}

/* Footer Settings */
a.persona {
    color: darkslategrey;
}

a.persona:visited {
    color: maroon;
}

a.persona:hover, a.persona:visited:hover {
    color: rgb(0, 89, 255);
    text-shadow: #008CBA;
    text-decoration: underline;
}

.footer-tag {
    font-family: Cambria;
    -ms-text-size-adjust: auto;
}

/* Global Settings */
h2 {
    font-family: "Calibri Body";
    font-style: italic;
    font-size: 200%;
    text-align: center;
}

h3 {
    font-family: "Calibri Body";
    font-style: italic;
    font-size: 200%;
    text-align: center;
}

.p {
    font-family: Arial;
    text-align: center;
}

.jumbotron, body{
    background-color: aliceblue;
}

.footer{
    height: 4em;
}

img.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}