<!-- Login HTML -->
<html>
   <head>
      <title>Smart Home</title>
      <link rel="stylesheet" href="lib/angular/angular-csp.css">
      </script>
   </head>
   <body>
      <h1>Login</h1>
      <div ng-controller = "loginController">
     <form name="myForm">
        <label>Username:
            <input type="text" name="username" ng-model="user.name" required>
        </label>
        <label>Password:
            <input type="password" name="password" ng-model="user.password" required>
        </label>
        <button type="submit" color="primary" ng-click="authenticate">Login</button>

    </form>
  </div> 
      </div>
      <script src = "lib/angular/angular.js"></script>
      <script src="app.js"></script>
   </body>
</html>