<html>
   <head>
      <title>Smart Home</title>
      <link rel="stylesheet" href="lib/angular/angular-csp.css">
      <script src = "lib/angular/angular.js">
      </script>
   </head>
   <body>
        <script>
                angular.module('login', [])
                  .controller('loginController', ['$scope', function($scope) {
                    $scope.user = {name: 'username', password: ''};
                    $scope.authenticate = function($scope) {
                        $scope.post("localhost:5000/api/authenticate", $scope.user)
                        .then(document => {
                            console.log(document);
                            if(document.success)
                            {
                                $scope.authenticated = true;
                                var userDetails = $scope.user;
                                // Add to local storage.
                            }
                        }
                        
                        ).catch("Error");
                    }
                  }]);
             </script>
      <h1>Login</h1>
      <div ng-controller = "loginController">
          <form name="myForm">
        <label>Username:
            <input type="text" name="username" ng-model="user.name" required>
        </label>
        <div role="alert">
            <span class="error" ng-show="myForm.username.$error.required">Required!</span>
        </div>
        <label>Password:
            <input type="password" name="password" ng-model="user.password" required>
        </label>
        <div role="alert">
                <span class="error" ng-show="myForm.password.$error.required">Required!</span>
        </div>
        <button type="button" mdbBtn color="primary" mdbWavesEffect ng-click=authenticate>Login</button>

    </form>
  </div> 
      </div>
      
   </body>
</html>