<!DOCTYPE html>

<footer>
    <div class="footer navbar-expand-lg fixed-bottom" style="background-color: burlywood">
        <span class="footer-login">
            <div>
                <!-- Last Logged In: INSERT USER DATETIME HERE -->
            </div>
            <div>
                <!-- Amount of Total Sign-Ins: INSERT TOTAL SIGN IN HERE // look at implementing a animation to count up -->
            </div>
            <div>
                Brought to you by <a class="persona" href='https://github.com/AdrianDoran'>Adrian Doran</a> and <a class="persona" href='https://github.com/bhodgs'>Ben Hodgson</a>.
                Copyright &copy; {{ today | date: 'yyyy' }}.
            </div>
        </span>
    </div>
</footer>