<!DOCTYPE html>

<footer>
    <div class="footer footer-expand-lg fixed-bottom" style="background-color: silver">
        <span *ngIf="currentUser" class="footer-login row">
            <div class="col-md-auto">
                <!-- <span>Last Logged In: {{date[dL].date}} {{date[dL].time}} </span>  -->
            </div>
            <div class="footer-tag col-md-auto">
                <!-- Amount of Total Sign-Ins: INSERT TOTAL SIGN IN HERE // look at implementing a animation to count up -->
                <span>Total Sign-Ins since account creation: {{date.length}}</span>
            </div>
        </span>
        <span>
            <div *ngIf="currentUser" class="footer-tag">
                Brought to you by <a class="persona" href='https://github.com/AdrianDoran'>Adrian Doran</a> 
                                    and <a class="persona" href='https://github.com/bhodgs'>Ben Hodgson</a>.
                Copyright &copy; {{ today | date: 'yyyy' }}.
            </div>
            <div *ngIf="!currentUser" class="footer-tag">
                Brought to you by some dedicated students. SIGN UP or LOGIN to find out who!!
            </div>
        </span>
    </div>
</footer>