<!DOCTYPE html>

<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
</head>
<!-- h3 to display selected devices name -->
<h3>Data Information</h3> 

<div>
    <table>
        <tr>
            <!-- device type imported here -->
            <td>Device Type: </td>
            <td>{{currentDevice.device}}</td>
        </tr>
            <!-- deviceId imported here -->
        <tr>
            <td>ID Tag:</td>
            <td>{{currentDevice.id}}</td>
        </tr>
        <tr>
            <td>.</td>
        </tr>
            <!-- undecided data input here -->
            <!-- data to be put here can be:
                - RFID chipId with datetime logs of when it was 'tapped' or if the tag is logged in or out
                - Both RFID chipId and logs can be for loops that populate -->
        <div id=""></div>
            <tr *ngFor="let data of currentDevice.data">
                <button class="btn btn-data">
                {{data}} </button>
            </tr>
        
        <!-- possible delete data or device can be implemented at the end of this page -->
    </table>
</div>