<!DOCTYPE html>

<!-- h3 to display selected devices name -->
<h3><!--{{userDevice.name}}--> Data Information</h3> 

<div>
    <table>
        <tr>
            <!-- device type imported here -->
            <td>Device Type:</td>
            <td>device type here</td>
        </tr>
            <!-- deviceId imported here -->
        <tr>
            <td>ID Tag:</td>
            <td>1234?</td>
        </tr>
        <tr>
            <td>.</td>
        </tr>
            <!-- undecided data input here -->
            <!-- data to be put here can be:
                - RFID chipId with datetime logs of when it was 'tapped' or if the tag is logged in or out
                - Both RFID chipId and logs can be for loops that populate -->
        <tr>
            <td>data to be decided here</td>
        </tr>
        <!-- possible delete data or device can be implemented at the end of this page -->
    </table>
</div>