<!DOCTYPE html>

<body>
    <div>
        <span><h2>Welcome {{currentUser.firstName}}!</h2></span>
        <span class="p">Select a device below that you would like to view</span>
    </div>
    <div>
        <h3>Current Devices</h3>
            <div class="btn-group">
                <table>
                    <tr *ngFor="let userDevices of userDevices">
                        <button class="btn btn-devices" routerLink="/devicelist" (click)="selectDevice(userDevices.name, 'No Data.')">
                        {{userDevices.name}} </button>
                    </tr>
                </table>
            </div>
            <div class="select-group" *ngIf="userDevices">
                <select ngOptions="selected.userDevice">
                    <option *ngFor="let userDevice of userDevices" value="userDevice.name" routerLink="/devicelist" (click)="selectDevice(userDevice.name, userDevice.Data)">{{userDevice.name}}</option>
                </select>
            </div>
    </div>
</body>