<!DOCTYPE html>

<h1>Hi {{currentUser.firstName}}!</h1>
<p>Welcome.</p>
<div>
    <h1>Current Devices</h1>
    <!-- https://stackoverflow.com/questions/48021514/how-to-print-angular-object-in-angular-4 -->
    <!-- Thinking we need to work on the styling here for good presentation of user devices, and their data (maybe a dropdown?)-->
    <div class="btn-group">
    <ul>
        <button class="btn btn-primary" *ngFor="let userDevices of userDevices"> 
           {{userDevices.name}}
        </button>
    </ul>
    </div>
    
</div>