<div class="container" ng-component="app">
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">Login</h1>
      <div class="input-group-prepend" > 
        <input type="text" #username class="form-control" placeholder="Username" name="username">
        <input type="password" #password class="form-control" placeholder="Password" name="password">
        <button type="submit" (click)="authenticate(username.value, password.value)">Submit</button> </div>
    </div>
  </form>
</div>